@import "colors";
@import "typography";
@import "spacing";
@import "buttons";
@import "cards";



//photos
.myportrait {
    width: 272px;
    height: 272px;
}

//buttons
.primary-btn {
    @include main-button;
}

.secondary-btn {
    @include second-button;
    color: $c-secondary;
}

.tertiary-btn {
    @include third-button;
    @include standartBody;
    color: $c-primary;
    
    p {
        border-bottom: 2px solid $c-primary;
        .svg-arrow {
            fill: $c-primary;
        }   
    }
}

//svgs
.svg-arrow {
    fill: $c-secondary;
}

//mail section
.mail-label {
    padding-bottom: $space-m;
}

//skills section
.skills {
    li {
        padding: $space-ss $space-s;
        background-color: $c-primary;
    }
}

//contacts-work
.contacts-work {
    text-align: center;
}