@import "colors";
@import "typography";
@import "spacing";
@import "components";
@import "cards";
@import "buttons";
/* Css Reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul,
ol,
li {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    @include bodyFonts;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class],
li {
    list-style: none;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/*links effects*/
a:link {
    text-decoration: none;
}

/*-GERAL*/
main {
    margin: 0 auto;
    padding: 0 24px;
    width: 100%;
    min-width: 272px;
    max-width: 800px;

    & > section:first-child {
        padding-top: calc(#{$space-xl} + #{$space-l});
        padding-bottom: $space-xl;
    }
    //max-width: 800px; para dekstop
}

section {
    padding-bottom: $space-xl;
}

h1 {
    @include display3;
}

h2 {
    @include display5;
    padding-bottom: $space-s;
}

header {
    background: green;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: $space-xl;
    display: flex;
    align-items: center;

    p {
        @include display5;
        color: $c-neutral;
        margin-left: $space-m;
        span {
            display: none;

            @media screen and (min-width: 800px){
                display: flex;
                }
        }

        @media screen and (min-width: 800px){
            display: flex;
            align-items: center;
        }
    }

    .nav-toggle {
        display: none;
        /*antiga checkbox*/
    }

    .nav-toggle-label {
       position: absolute;
       top: 0;
       right: 0;
       margin-right: $space-m;
       border: 1px solid red;
       height: 100%;
       display: flex;
       align-items: center;

       span, span::before, span::after {
           display: block;
           background: white;
           height: 2px;
           width: 24px;
           border-radius: 2px;
           position: relative;
           //estilizar o x aqui é onde vou meter o hamburguer icon
       }
       
       @media screen and (min-width: 800px){
        display: none;
        }

    }

    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background: yellow;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;

        li {
            display: flex;
            @include display4;
            /*
            margin-bottom: 1rem;
            margin-left: 1rem;
            */
            a {
                /*aqui estilizar as fonts*/
                width: 100%;
                padding: $space-s;
                opacity: 0;
                transition: opacity 150ms ease-in-out;
                &:hover {
                    /*color*/
                }
            }

        }
    }

    .nav-toggle:checked ~ nav {
        transform: scale(1,1);
    }

    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    @media screen and (min-width: 800px){
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        height: $space-xl;
    
        .nav-title {
            grid-column: 2 / 3;
        }

        nav {
            /*confirmar se posso usar isto*/
            all: unset;
            grid-column: 3 / 4;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            ul {
                display: flex;
                justify-content: flex-end;
                border: 1px solid red;
                margin: 0;

                li {
                    @include standartBody;
                    margin-left: $space-ss;
                    margin-bottom: 0;

                    a {
                        opacity: 1;
                    }

                }
                
                
            }

        }
    }
}


footer {
    nav {
        ul {
            li {
                display: flex;
                flex-direction: column;
                a {
                    width: 100%;
                    text-align: center;
                    padding: $space-s;
                    border-top: 1px solid $c-neutral2;
                    @media screen and (min-width: 800px) {
                        border-top: 0;
                    }
                }
            }

            @media screen and (min-width: 800px) {
                display: flex;
                justify-content: space-evenly;
                width: 800px;
                margin: 0 auto; 
            }
        }

        @media screen and (min-width: 800px) {
            border-top: 1px solid $c-neutral2;
        }
    }

    p {
        text-align: center;
    }
}
/*-INTRODUCTION*/
.answer {
    @include display4;
}

.chat {
    @include display6;
    padding: $space-s;
    border: 1.5px solid $c-primary;
    border-radius: $space-ss $space-ss 0 $space-ss;
}
/*-ABOUTME*/

/*-WORKS*/

body main section.intro-works {


    h1 {
        text-align: center;
    }

    @media screen and (min-width: 800px) {
        height: 50vh;
        display: flex;
        align-items: center;
    }
    
}


.digital-work {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-bottom: $space-s;
            /*desktop mudar para width:50% + padding*/
        }
    }
}

.traditional-work {
    ul {
        display: grid;
        grid-template-rows: 1fr;
        row-gap: $space-s;

        li {
            display: flex;
            justify-content: center;
        }

        @media screen and (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: $space-s;    
        }

    }
}

.contacts-work {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $c-secondary;
    position: relative;

    span {
        @include display2;
    }

    h3 {
        @include display3;
        color: $c-secondary;
        padding: $space-ss;
    }

    .secondary-btn {
        top: $space-ml;
        position: relative;
    }

    div {
        position: absolute;
        width: 100vw;
        height: 100%;
        background-color: $c-primary;
        z-index: -1;
    }

    @media screen and (min-width: 800px) {
        height: 50vh; 
        }

}

/*-CONTACTS*/

.contacts-page {
    h1 {
        @include display2;
        padding-bottom: $space-l;
    }
    .alsoon {
        @include display3;
        padding-top: $space-xl;
    }
}