@import "colors";
@import "typography";
@import "spacing";
@import "components";
@import "cards";
@import "buttons";
/* Css Reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul,
ol,
li {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    @include bodyFonts;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class],
li {
    list-style: none;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/*links effects*/
a:link {
    text-decoration: none;
}

/*-GERAL*/
main {
    margin: 0 auto;
    padding: 0 24px;
    width: 100%;
    min-width: 272px;
    max-width: 800px;
    //max-width: 800px; para dekstop
}

section {
    padding-bottom: $space-xl;
}

h1 {
    @include display1;
}

h2 {
    @include display2;
}

header {
    /*
    PRIMEIRA ITERAÇÃO DO FERNANDO
    nav {
        display: flex;
        align-items: baseline;
        border-bottom: 1px solid $c-neutral2;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
        p {
            flex-grow: 1;
        }
        ul {
            display: flex;
            li {
                padding-right: $space-m;
            }
        }
    }
    */
    background: green;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;

    .nav-toggle {
        display: none;
        /*antiga checkbox*/
    }

    .nav-toggle-label {
       position: absolute;
       top: 0;
       right: 0;
       margin-right: $space-xl;
       border: 1px solid red;
       height: 100%;
       display: flex;
       align-items: center;

       span, span::before, span::after {
           display: block;
           background: white;
           height: 2px;
           width: 24px;
           border-radius: 2px;
           position: relative;
           //estilizar o x aqui é onde vou meter o hamburguer icon
       }

       @media screen and (min-width: 800px){
        display: none;
        }
    }

    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background: yellow;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;

        li {
            margin-bottom: 1rem;
            margin-left: 1rem;
            
            a {
                /*aqui estilizar as fonts*/
                opacity: 0;
                transition: opacity 150ms ease-in-out;
                &:hover {
                    /*color*/
                }
            }

        }
    }

    .nav-toggle:checked ~ nav {
        transform: scale(1,1);
    }

    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    @media screen and (min-width: 800px){
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;

        .nav-title {
            grid-column: 2 / 3;
        }

        nav {
            /*confirmar se posso usar isto*/
            all: unset;
            grid-column: 3 / 4;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            ul {
                display: flex;
                justify-content: flex-end;
                border: 1px solid red;

                li {
                    margin-left: $space-xl;
                    margin-bottom: 0;

                    a {
                        opacity: 1;
                    }

                }
                
                
            }

        }
    }
}


footer {
    
    ul {
        /*meter isto no ul para desktop - start
        display: flex;
        justify-content: space-evenly;
        width: 800px;
        margin: 0 auto;
        end*/
        li {
            display: flex;
            flex-direction: column;
            a {
                width: 100%;
                text-align: center;
                padding: $space-s;
                border-top: 1px solid $c-neutral2;
            }
        }
    }
    p {
        text-align: center;
    }
}
/*-INTRODUCTION*/
.answer {
    @include display4;
}

.chat {
    @include display6;
    padding: $space-s;
    border: 1.5px solid $c-primary;
    border-radius: $space-ss $space-ss 0 $space-ss;
}
/*-ABOUTME*/

/*-WORKS*/

.intro-works {

    height: 50vh;
    display: flex;
    align-items: center;

    h1 {
        @include display1;
        text-align: center;
    }

}

.digital-work {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-bottom: $space-s;
            /*desktop mudar para width:50% + padding*/
        }
    }
}

.traditional-work {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            justify-content: center;
            width: 100%;
             /*controlo o tamanho a linha abaixo*/
            //max-width: 400px;
            padding-bottom: $space-s;
            /*desktop mudar para width:50% + padding*/
        }
    }
}

.contacts-work {

    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $c-neutral2;
    padding-bottom: 0;

    span {
        @include display2;
    }

    h3 {
        @include display3;
    }

}

/*-CONTACTS*/
