---
layout: default_w-nav
---

<section>
    <h1>About me</h1>
    <img src="" alt="">
    <p>I am UX/UI Designer with a background in visual Design. Passionate problem solver focused on experience design, technology, and innovation.</p> 
    <p>Interested in opportunities that allow me to create digital products that have a positive impact on people's lives.</p>
    <p></p>
</section>

<section>
<h2>Skills</h2>

<ul>
    <li>
        <h3>Discovery 🔬</h3>
        <p>A big part of my work is about talking to users to find unmet needs, opportunities for value creation, and insights for product innovation and growth.</p>
        <ul>
            <li class="skills-label">User Research</li>
            <li class="skills-label">Customer Journey Mapping</li>
            <li class="skills-label">Quality & Quantity Data Analysis</li>
            <li class="skills-label">User Flows</li>
        </ul>
    </li>
    <li>
        <h3>Design 🎨</h3>
        <p>My design background is extremely useful to speed things up when partnering with other designers on hands-on work.</p>
        <ul>
            <li skills="skills-label">Prototyping</li>
            <li skills="skills-label">User Experience</li>
            <li skills="skills-label">Design Guidelines</li>
            <li skills="skills-label">Visual Design</li>
            <li skills="skills-label">User Interface Design</li>
            <li skills="skills-label">Basic Front-end</li>
        </ul>
    </li>
</ul>


</section>