---
layout: default_no-nav
---
<section>
    <h1>Hi there, Fernando speaking</h1>
    <img src="" alt="">
    <div>meter aqui a imagem</div>
</section>

<section>
    <h2 class="answer">I have a problem solving creative mind.</h2>
    <p>Love to illustrate, design products, and code here and there.</p>
</section>

<section>
    <p class="chat">Tell me more about you! 😌</p>
    <h2 class="answer">Okeei: cooking enthusiast, humoristic idiot, wannabe artist.</h2>
    <p>Not just that, I like adventure, the sea and cinema.</p>
</section>

<section>
    <p class="chat">What are you doing? 🤔</p>
    <p>2019 -</p>
    <h2 class="answer">Currently I'm working at a cool place called PACSIS,</h2>
    <p>doing User Interface design and coding it!</p>
    <h2 class="answer">& Studying</h2>
    <p>in a post-graduate course called Digital Design Experience, super challenging and mind changing.</p>
</section>

<section>
    <h3>Projects</h3>
    <ul>
        <li>
            {% include card-modal.html article="evaristo" %}
        </li>
        <li>
            {% include card-modal.html article="hope foundation" %}
        </li>
    </ul>
</section>

<section>
    <p class="chat">And before that?</p>
    <p class="chat">You unemployed or smth?</p>
</section>

<section>
    <h2 class="answer">No, I was very lucky with my colaborations,</h2>
    <p>and worked with the most amazing people.</p>
    <span>👇</span>
    <img src="" alt="">
</section>

<section>
    <p>2019</p>
    <h2 class="answer">Information Planet allowed me to work in strategy and brand.</h2>
    <p>My responsibilities involved branding, editorial, and promotional objects.</p>
    {% include card-modal.html article="booklet" %}
</section>

<section>
    <p>2017-2019</p>
    <h2 class="answer">Explored many design fields at Physis Studio.</h2>
    <p>Worked remotely as a generalist designer in studio.</p>
    <ul>
        <li>
            {% include card-modal.html article="stricta" %}
        </li>
        <li>
            {% include card-modal.html article="clickhouse" %}
        </li>
        <li>
            {% include card-modal.html article="bewatt" %}
        </li>
    </ul>
</section>

<section class="introduction-contacts">
    <h3 class="answer">Now that you know what i do, We should work together! Reach out to:</h3>
    {% include myemail.html%}
    {% include external-links.html %}
</section>

<!--Acrescentar aqui o footer-->