---
layout: default_w-nav
---

<section>
<h1>I've helped build some incredible products</h1>
</section>

<section class="digital-work">
    <h2>Some of my recent work</h2>
    <p>Focused on making a positive impact with a clean and user-friendly experience.</p>
    {% include bigcard-modal.html %}
</section>

<section class="tradional-work">
    <h2>Some of my recent work</h2>
    <p>Focused on making a positive impact with a clean and user-friendly experience.</p>

    <ul>
        <li>
            {% include card-modal.html article="booklet" %}
        </li>
        <li>
            {% include card-modal.html article="stricta" %}
        </li>
        <li>
            {% include card-modal.html article="clickhouse" %}
        </li>
        <li>
            {% include card-modal.html article="bewatt" %}
        </li>
    </ul>
</section>

<section class="contacts-work">
    <span>👋</span>
    <h3>Dont’ be shy. Say hi!</h3>
    <p>Do you have a project or an idea that could use some help?
        Let’s work together!</p>
    <p>{{site.email}}</p>
    <a class="myemail" href="mailto:fernandonunescaldeira@gmail.com?subject=Hey Fernando let's talk!">Get in touch</a>
</section>
